.modal {
    // padding: 62px 0 79px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.9);
    min-height: 440px;
    z-index: 3;

    &__title {
        transform: translateY(45%);
        color: $default-color;
        font-size: 14px;
        font-weight: 400;

        span {
            font-size: 19px;
            font-weight: 600;
            text-align: center;
            color: $default-color;
            text-transform: uppercase;
        }
    }

    &__box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        max-width: 890px;
        min-height: 297px;
    }

    &__header {
        position: relative;
        height: 68px;
        background-color: $bg3;
        text-align: center;
        line-height: 1.15;

    }

    &__form {
        min-height: 230px;
        background: $bg2;
        padding: 10px 40px 0;
        display: grid;
        grid-template-areas: 
        "name tel email"
        "textarea textarea textarea"
        "submit submit submit";
        justify-content: space-around;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: $default-color;
        opacity: 0.5;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 8;

    }
}

#quest_name {
    grid-area: name;
}

#quest_tel {
    grid-area: tel;
}

#quest_email {
    grid-area: email;
}


#quest_textarea {
    grid-area: textarea;
}

#quest_submit {
    grid-area: submit;
    margin: 0 auto;
}